.mensagem{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    /* text-transform: uppercase; */
}

.botaoRolarDados{
    background-color: #c0a48c;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4rem;
}

.mensagem1{
   margin-top: 2rem;
}